body {
    background-color: lightgrey;
    color: #37323c;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: .3px;
    line-height: 1.6;
    font-family: "Sarabun", sans-serif;
    text-align: left;
}
.body-wrapper{
    height: 100%;
    weight: 100%;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    /*-webkit-align-items: flex-end;*/
    /*-webkit-align-content: flex-end;*/
}


.login-form-wrapper{
    background-color: #ffffff;
    width: 100%;
    min-height: 100vh;
    padding: 100px 50px;
    float: right;
    box-shadow: -4px 0px 20px 1px rgba(0,0,0,0.6);
    /*border: 1px solid #000000;*/
    /*display: -webkit-flex; !* Safari *!*/
    /*-webkit-flex-wrap: wrap; !* Safari 6.1+ *!*/
    /*-webkit-align-items: center;*/
    /*-webkit-align-content: center*/
}
.login-form {
    max-width: 440px;
    margin: auto;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    -webkit-align-items: center;
    /*-webkit-align-content: center;*/
}
.login-input-wrapper{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.text-24{
    font-size: 24px;
    font-weight: 500;
}
