<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<!--      <th:block th:fragment="footer">-->
<!--        <div class="flex-grow-1"></div>-->
<!--        <div class="app-footer">-->
<!--          <div class="footer-bottom d-flex flex-column flex-sm-row align-items-center" >-->
<!--            <span class="flex-grow-1"></span>-->
<!--            <div class="d-flex align-items-center">-->
<!--              <img-->
<!--                class="logo"-->
<!--                th:src="@{/images/logo-icon.png}"-->
<!--                src="./images/logo-icon.png"-->
<!--                alt="logo" />-->
<!--              <div>-->
<!--                <p class="m-0">&copy; 2018</p>-->
<!--                <p class="m-0">All rights reserved</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </th:block>-->

<!-- Footer Start -->
<th:block th:fragment="footer">
    <!-- Footer Start -->
<!--    <div class="flex-grow-1"></div>-->
<!--    <div class="app-footer">-->
<!--        <div-->
<!--                class="footer-bottom d-flex flex-column flex-sm-row align-items-center"-->
<!--        >-->
<!--            <span class="flex-grow-1"></span>-->
<!--            <div class="d-flex align-items-center">-->
<!--                <img-->
<!--                        class="logo"-->
<!--                        src="./assets/images/logo-icon.png"-->
<!--                        alt="logo"-->
<!--                />-->
<!--                <div>-->
<!--                    <p class="m-0">&copy; 2018</p>-->
<!--                    <p class="m-0">All rights reserved</p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!-- Footer End -->
</th:block>
      </body>

      </html>
