<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <!-- Navbar -->
    <!--=============== Loading Page Start ================-->
    
    <!--=============== Loading Page End ================-->
    <div class="main-header" th:fragment="header">
        <div class="loading-page" id="loading-page">
          <span class="spinner-glow spinner-glow-primary mr-5"></span>
        </div>
        <div class="logo">
          <img class="logo-full" th:src="@{/images/logo.png}" src="/images/logo.png" alt="logo" />
          <img
            class="logo-icon"
            th:src="@{/images/logo-icon.png}"
            src="/images/logo-icon.png"
            alt="logo"
          />
        </div>

        <div class="menu-toggle">
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div style="margin: auto"></div>

        <div class="header-part-right">
          <!-- Full screen toggle -->
          <i
            class="i-Full-Screen-2 header-icon d-none d-sm-inline-block"
            data-fullscreen
          ></i>

          <!-- Notificaiton -->
          <!--<div class="dropdown">-->
            <!--<div-->
              <!--class="badge-top-container"-->
              <!--id="dropdownNotification"-->
              <!--role="button"-->
              <!--data-toggle="dropdown"-->
              <!--aria-haspopup="true"-->
              <!--aria-expanded="false"-->
            <!--&gt;-->
              <!--<span class="badge badge-primary">3</span>-->
              <!--<i class="i-Bell text-muted header-icon"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash; Notification dropdown &ndash;&gt;-->
            <!--<div-->
              <!--class="dropdown-menu dropdown-menu-right notification-dropdown"-->
              <!--aria-labelledby="dropdownNotification"-->
              <!--data-perfect-scrollbar-->
              <!--data-suppress-scroll-x="true" >-->
              <!--<div class="dropdown-item d-flex">-->
                <!--<div class="notification-icon">-->
                  <!--<i class="i-Speach-Bubble-6 text-primary mr-1"></i>-->
                <!--</div>-->
                <!--<div class="notification-details flex-grow-1">-->
                  <!--<p class="m-0 d-flex align-items-center">-->
                    <!--<span>New message</span>-->
                    <!--<span class="badge badge-pill badge-primary ml-1 mr-1"-->
                      <!--&gt;new</span-->
                    <!--&gt;-->
                    <!--<span class="flex-grow-1"></span>-->
                    <!--<span class="text-small text-muted ml-auto"-->
                      <!--&gt;10 sec ago</span-->
                    <!--&gt;-->
                  <!--</p>-->
                  <!--<p class="text-small text-muted m-0">-->
                    <!--James: Hey! are you busy?-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="dropdown-item d-flex">-->
                <!--<div class="notification-icon">-->
                  <!--<i class="i-Receipt-3 text-success mr-1"></i>-->
                <!--</div>-->
                <!--<div class="notification-details flex-grow-1">-->
                  <!--<p class="m-0 d-flex align-items-center">-->
                    <!--<span>New order received</span>-->
                    <!--<span class="badge badge-pill badge-success ml-1 mr-1"-->
                      <!--&gt;new</span-->
                    <!--&gt;-->
                    <!--<span class="flex-grow-1"></span>-->
                    <!--<span class="text-small text-muted ml-auto"-->
                      <!--&gt;2 hours ago</span-->
                    <!--&gt;-->
                  <!--</p>-->
                  <!--<p class="text-small text-muted m-0">-->
                    <!--1 Headphone, 3 iPhone x-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="dropdown-item d-flex">-->
                <!--<div class="notification-icon">-->
                  <!--<i class="i-Empty-Box text-danger mr-1"></i>-->
                <!--</div>-->
                <!--<div class="notification-details flex-grow-1">-->
                  <!--<p class="m-0 d-flex align-items-center">-->

                    <!--<span class="badge badge-pill badge-danger ml-1 mr-1"-->
                      <!--&gt;3</span-->
                    <!--&gt;-->
                    <!--<span class="flex-grow-1"></span>-->
                    <!--<span class="text-small text-muted ml-auto"-->
                      <!--&gt;10 hours ago</span-->
                    <!--&gt;-->
                  <!--</p>-->
                  <!--<p class="text-small text-muted m-0">-->
                    <!--Headphone E67, R98, XL90, Q77-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="dropdown-item d-flex">-->
                <!--<div class="notification-icon">-->
                  <!--<i class="i-Data-Power text-success mr-1"></i>-->
                <!--</div>-->
                <!--<div class="notification-details flex-grow-1">-->
                  <!--<p class="m-0 d-flex align-items-center">-->
                    <!--<span>Server Up!</span>-->
                    <!--<span class="badge badge-pill badge-success ml-1 mr-1"-->
                      <!--&gt;3</span-->
                    <!--&gt;-->
                    <!--<span class="flex-grow-1"></span>-->
                    <!--<span class="text-small text-muted ml-auto"-->
                      <!--&gt;14 hours ago</span-->
                    <!--&gt;-->
                  <!--</p>-->
                  <!--<p class="text-small text-muted m-0">-->
                    <!--Server rebooted successfully-->
                  <!--</p>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!-- Notificaiton End -->

          <!-- User avatar dropdown -->
        <th:block sec:authorize="!isAnonymous()">
          <div class="dropdown">
            <div class="user col align-self-end">
              <img
                th:src="@{/images/user.png}"
                src="/images/user.png"
                id="userDropdown"
                alt=""
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              />

              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="userDropdown"
              >
                <div class="dropdown-header">
                  <i class="i-Lock-User mr-1" ></i> <th:block sec:authentication="name">Admin Name</th:block>
                </div>
                <a class="dropdown-item" th:href="@{/qr}" sec:authorize="hasAnyRole('ROLE_STUDENT')">แสดง QR Code</a>
                <a class="dropdown-item" th:href="@{/repassword}">เปลี่ยนรหัสผ่าน</a>
                <a class="dropdown-item" th:href="@{/logout}">Log out</a>
              </div>
            </div>
          </div>
        </th:block>


        </div>
        <div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" id="responseModal-header">
                        <h5 class="modal-title" id="responseModal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                          <h4 id="responseModal-text"></h4>
                      </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <div
                class="modal fade"
                id="deleteModal"
                tabindex="-1"
                role="dialog"
                aria-hidden="true"
        >
            <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                    style="top:-20vh"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title font-weight-500">ยืนยันการลบ</h4>
                        <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="needs-validation" novalidate>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6 mb-2">
                                    <button type="button" onclick="confirmDelete()" class="btn btn-danger">
                                        ยืนยัน
                                    </button>
                                </div>
                                <div class="col-sm-6 mb-2 ">
                                    <button type="button" onclick="cancelDelete()" data-dismiss="modal" class="btn btn-light">
                                        ยกเลิก
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar -->
      
  
</body>

</html>
