$font-family-heading: "Sarabun", sans-serif;
$font-family-base: "Sarabun", sans-serif;
$font-size-base: 0.813rem;

// LAYOUT VARS
$topbar-height: 80px;
$topbar-height-mobile: 70px;

$sidebar-left-width: 180px;
$sidebar-left-width-mobile: 180px;
$sidebar-left-secondary-width: 0px;
$sidebar-left-secondary-width-mobile: 0px;
$side-clearance: 20px;

// GLOBAL COLORS
$facebook: rgb(55, 101, 201);
$google: rgb(236, 65, 44);
$twitter: rgb(3, 159, 245);

// MAIN COLORS
$primary: #ff9800 !default;
$primary-soft: #ffc774 !default;
$primary-color: white !default;
$primary-gray: #37323c !default;
$primary-hover: #ffeed5 !default;
$primary-secondary: #6c389c !default;
$primary-blue: #58bdbe !default;
$primary-blue-soft: #afdedf !default;
